body {
    background-color: #1F2744 !important;
    color: #E5EFEA !important;
    padding: 30px 0px 0px 0px;
}

.border {
    background-color: #E5EFEA;
}

figcaption .btn {
    background-color: #F5AC29;
    color: #1F2744;
}

p .btn {
    background-color: #F5AC29;
    color: #1F2744;
}

#toggleDark {
    background-color: #1F2744;
    color: #E5EFEA;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    font-size: 25px;
    transition: all .3s;
}

#toggleDark:hover {
    background-color: #E5EFEA;
    color: #1F2744;
}
