.navbar-expand {
    background-color: #1F2744;
}

body {
    background-color: #E5EFEA !important;
    color: #1F2744 !important;
    padding-top: 30px;
}

.border {
    background-color: #1F2744;
}

figcaption .btn {
    background-color: #1f2744;
    color: #E5EFEA;
}

p .btn {
    background-color: #1f2744;
    color: #E5EFEA;
}

#toggleDark {
    background-color: #E5EFEA;
    color: #1F2744;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    font-size: 25px;
    transition: all .3s;
}

#toggleDark:hover {
    background-color: #1F2744;
    color: #E5EFEA;
}
