{% extends 'base.html' %}

{% block jumbotron %}
<div class="row row-header">
    <div class="col-5 col-sm-4 col-md-3 align-items-center align-self-center">
        <img src="{{ url_for('static', filename='img/grad.jpg') }}" class="img-fluid rounded" height="533" width="533">
    </div>
    <div class="col-7 col-sm-8 col-md-9 align-items-center align-self-center">
        <h1>CV</h1>
        <button type="button" class="btn btn-danger btn-lg d-none d-md-block btn-outline-light shadow-none" data-toggle="modal" data-target="#myCV">
            View as PDF
        </button>
        <a href="{{ url_for('static', filename='files/website_cv.pdf') }}" target="_blank"><button type="button" class="btn btn-danger d-md-none btn-outline-light shadow-none">View as PDF</button></a>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="modal" tabindex="-1" role="dialog" id="myCV">
    <div class="modal-dialog modal-lg" role="document" style="min-width:70%; min-height:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-4by3">
                    <embed class="embed-responsive-item" src="{{ url_for('static', filename='files/website_cv.pdf') }}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="chineseCert">
    <div class="modal-dialog modal-lg" role="document" style="min-width:70%; min-height:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-4by3">
                    <embed class="embed-responsive-item" src="{{ url_for('static', filename='files/chinese_characters_certificate.pdf') }}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-lg">
    <div class="row">
        <div class="col-12">
            <h2>Education</h2>
            <hr class="border"/>
            <div class="row">
                <div class="col-7">
                    <h5>UNIVERSITY OF BATH</h5>
                    <p>MSc Computer Science</p>
                </div>
                <div class="col-5">
                    <h5 class="text-right">&zwj;10/2022 - 10/2023</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <h5>UNIVERSITY OF TORONTO</h5>
                    <p>HBSc - Planetary Science Specialist, Mathematics Minor <br><strong>Distinction</strong></p>
                </div>
                <div class="col-4">
                    <h5 class="text-right">9/2018 - 4/2022</h5>
                </div>
            </div>
            <h2 class="mt-4">Certificates</h2>
            <hr class="border"/>
            <div class="row">
                <div class="col-8">
                    <h5>MANDARIN, DEMYSTIFYING CHINESE CHARACTERS</h5>
                    <p>University of Bath</p>
                    <a data-toggle="modal" data-target="#chineseCert" class="d-none d-md-block" target="_blank" style="color: inherit;"><i class="fa-solid fa-file"></i> Certificate</a>
                    <a href="{{ url_for('static', filename='files/chinese_characters_certificate.pdf') }}" class="d-block d-md-none" target="_blank" style="color: inherit;"><i class="fa-solid fa-file"></i> Certificate</a>
                </div>
                <div class="col-4">
                    <h5 class="text-right">9/2023</h5>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-8">
                    <h5>CUSTOMISING YOUR MODELS WITH TENSORFLOW 2</h5>
                    <p>Coursera - Imperial College London</p>
                    <a href="https://www.coursera.org/account/accomplishments/certificate/SH7LXQGUBHQE" target="_blank" style="color: inherit;"><i class="fa-solid fa-file"></i> Certificate</a>
                </div>
                <div class="col-4">
                    <h5 class="text-right">7/2022</h5>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-8">
                    <h5>THE ARDUINO PLATFORM AND C PROGRAMMING</h5>
                    <p>Coursera - University of California, Irvine</p>
                    <a href="https://www.coursera.org/account/accomplishments/certificate/Y7J79A9Y3RFZ" target="_blank" style="color: inherit;"><i class="fa-solid fa-file"></i> Certificate</a>
                </div>
                <div class="col-4">
                    <h5 class="text-right">7/2022</h5>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-8">
                    <h5>GETTING STARTED WITH TENSORFLOW 2</h5>
                    <p>Coursera - Imperial College London</p>
                    <a href="https://www.coursera.org/account/accomplishments/certificate/987DUTDFZDV7" target="_blank" style="color: inherit;"><i class="fa-solid fa-file"></i> Certificate</a>
                </div>
                <div class="col-4">
                    <h5 class="text-right">6/2022</h5>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-8">
                    <h5>INRODUCTION TO THE INTERNET OF THINGS AND EMBEDDED SYSTEMS</h5>
                    <p>Coursera - University of California, Irvine</p>
                    <a href="https://www.coursera.org/account/accomplishments/certificate/5KTBE6RNFGS8" target="_blank" style="color: inherit;"><i class="fa-solid fa-file"></i> Certificate</a>
                </div>
                <div class="col-4">
                    <h5 class="text-right">5/2022</h5>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-8">
                    <h5>FRONT-END WEB UI FRAMEWORKS AND TOOLS: BOOTSTRAP 4</h5>
                    <p>Coursera - The Hong Kong University of Science and Technology</p>
                    <a href="https://www.coursera.org/account/accomplishments/certificate/D5X8FFT5XCRT" target="_blank" style="color: inherit;"><i class="fa-solid fa-file"></i> Certificate</a>
                </div>
                <div class="col-4">
                    <h5 class="text-right">5/2022</h5>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-8">
                    <h5>APPLIED MACHINE LEARNING IN PYTHON</h5>
                    <p>Coursera - University of Michigan</p>
                    <a href="https://www.coursera.org/account/accomplishments/certificate/KA6XHGFPYH9H" target="_blank" style="color: inherit;"><i class="fa-solid fa-file"></i> Certificate</a>
                </div>
                <div class="col-4">
                    <h5 class="text-right">4/2022</h5>
                </div>
            </div>
            <h2 class="mt-5">Skills</h2>
            <hr class="border"/>
            <div class="row">
                <div class="col-12 col-md-4">
                    <h5>Languages</h5>
                </div>
                <div class="col-12 col-md-8">
                    <p>Python | Java | C | Julia | SQL</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-md-4">
                    <h5>Libraries, Frameworks, & Tools</h5>
                </div>
                <div class="col-12 col-md-8">
                    <p> numpy | pandas | matplotlib | scikit-learn | TensorFlow | Keras | Flask | Git | Bootstrap | Arduino</p>
                </div>
                <p><br><br><br></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %} {% endblock %}
