{% extends 'base.html' %}

{% block jumbotron %}

{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#manual" role="tab" data-toggle="tab">Manual Input</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#csv" role="tab" data-toggle="tab">CSV</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active" role="tabpanel" id="manual">Manual Input Content</div>
                <div class="tab-pane" role="tabpanel" id="csv">CSV Content</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}